/*======================
 Custom Variables
 ======================== */
 :root {
   --button-blue: hsl(223, 87%, 63%);
   --border-blue: hsl(223, 100%, 88%);
   --error-red: hsl(354, 100%, 66%);
   --maintxt-gray:  hsl(0, 0%, 59%);
   --socialicons-blue: hsl(209, 33%, 12%);
 }

/*====================
Base Styles
======================*/
html {
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  h1, h2, h3, h4 {
    margin-top: 0;
  }
  
  body {
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
    height: 100vh;
  }
  
  /*===================
  Main Flex Container
  =====================*/
  .flexbox-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
    text-align: center;

  }
  
  /*Targets all flex items*/
  .flexbox-item {
    /* margin: 10px; */
    /* border: 2px solid #333; */
    /* background-color: #dfdfdf; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*======================
  Header Text
  ========================*/
  .pageTextContainer {
    display: flex;
    flex-direction: column;
  }
  .logoImg {
    margin-bottom: 50px;
  }
  .logoImg img {
    
  }
  .mainText {
    margin-bottom: 20px;
  }
  .mainText p {
   font-size: 28px;
   font-weight: 300;
   color: var(--maintxt-gray);
  }
  .mainText p strong {
    color: black;
    font-weight: 700;
  }
  
  .subNotice {
    font-size: 14px;
    margin-bottom: -40px;
  }
  
  /*=======================
  User Email Input Input
  =========================*/
  
  .userEmail {
   
  }
  
  .errorContainer {
    margin-bottom: 10px;
  }
  
  .userInput {
    display: flex;
    flex-direction: column;
  }
  
  .inputEmail {
    border-radius: 25px;
    padding: 15px;
    width: 250px;
    border: 2px solid hsl(223, 100%, 88%);
    color: var(--maintxt-gray);
    margin-bottom: 10px;
  }

  .inputEmail:focus {
   border: 1px solid var(--border-blue);
  }

  .inputEmailError {
    border-radius: 25px;
    padding: 15px;
    width: 250px;
    border: 2px solid var(--error-red);
    color: var(--maintxt-gray);
    margin-bottom: 10px;
  }
  
  .errorMessage {
    font-size: 12px;
    font-weight: 300;
    color: var(--error-red);
    display: none; 
  }

  .errorMessageShow {
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: var(--error-red);
  }
  
  .notifyButtonContainer {
    margin-bottom: -40px;
  }
  
  .submitButton {
    border-radius: 25px;
    padding: 15px;
    width: 283px; 
    box-shadow: 0 8px 8px -4px #ccc;
    border: none;
    background-color: var(--button-blue);
    color: whitesmoke;
    font-weight: 600;
  }
  .submitButton:hover {
    background-color: var(--border-blue);
    cursor: pointer;
  }
  
  /*===================
  Main Image
  =====================*/
  .mainImg {
    margin-bottom: 90px;
  }

  .mainImg img {
    width: auto;
    height: 205px;
  }
  
  /*====================
  Social Links
  ======================*/
  .socialContainer {
    display: flex;
    justify-content: space-around;
    width: 170px;
    margin-bottom: -50px;
  }

  /*Centers Icons */
  .socialContainer a i {
    margin: 8px;
  }

  /*Icon Border  */
  .socialContainer a {
    border: 1.5px solid var(--maintxt-gray);
    color: var(--button-blue);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    
  }

  .socialContainer a:hover {
    color: whitesmoke;
    background-color: var(--button-blue);
  }
  
  /*====================
  Copywrite  
  ======================*/
  .copywriteContainer {
    margin: 0 auto;
    width: 100%;
    font-size: 12px;
    color: var(--maintxt-gray);
  }
  
  /* Applies desktop styles */
  @media screen and (min-width: 375px){
    .userEmail {
        display: flex;
    }
    .copywriteContainer {
        margin-top: 125px;
    }
    .subNotice {
      margin-bottom: -10px;
    }
    .inputEmail {
      width: 360px;
    }
    .inputEmailError {
      border-radius: 25px;
      padding: 15px;
      width: 360px;
      border: 2px solid var(--error-red);
      color: var(--maintxt-gray);
      margin-bottom: 10px;
    }
    .notifyButtonContainer {
      display: block;
      margin-left: 15px;
    }
    .errorMessage {
      margin-left: -155px;
      
    }
    .submitButton {
      width: 200px;
    }
    .mainImg img {
      width: auto;
      height: 350px;
    }
    .socialContainer a:hover {
      color: whitesmoke;
      background-color: var(--button-blue);
    }
    .copywriteContainer {
      margin: 40px auto;
    }

  }
